@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: Raleway;
    color: black;
    margin: 0px;
  }

  #navbar {
    position: fixed;
    top: 0x;
    width: 100%;
    padding: 5px;
    background-color: #070b34;
    font-size: 25px;
  }

  .navlink {
      color: white;
  }

  .navlink:hover {
      color: peachpuff;
  }

  #welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: paleturquoise;
  padding: 0px;
  text-align: center;
  }

  #publications {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: palegoldenrod;
    padding: 0px;
    text-align: center;
  }

  #find-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: palevioletred;
    padding: 0px;
    text-align: center;
  }

#github-img {
    width: 40px;
}